@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 179 5% 95%;
    --foreground: 209 27% 18%;

    --card: 0 0% 100%;
    --card-foreground: 209 27% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 209 27% 18%;

    --primary: 0 0% 100%;
    --primary-foreground: 209 27% 18%;

    --secondary: 241 5% 96%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 180 4% 95%;
    --muted-foreground: 210, 9%, 38%;

    --accent: 189 73% 36%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 208 6% 92%;
    --input: 180 14% 99%;
    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 93%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 18%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 17%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased bg-background overflow-x-hidden text-foreground;
  }
}
