@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 210 11% 7%;

    --card: 0 0% 100%;
    --card-foreground: 210 11% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 7%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 180 4% 95%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 180 4% 95%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 6% 88%;
    --input: 210 6% 88%;
    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 11% 7%;
    --foreground: 0 0% 98%;

    --card: 216 9% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 210 11% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 216 9% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 216 9% 10%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 216 9% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 9% 18%;
    --input: 216 9% 20%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

.w-color-sketch {
  @apply !bg-background !w-[250px]
}

.w-color-swatch {
  @apply !border-t-border
}

.w-color-editable-input > input {
  @apply !shadow-none !text-foreground !bg-border !rounded-sm !px-1.5 !text-sm
}

.w-color-editable-input-rgba > .w-color-editable-input > input {
  @apply !w-9 text-center
}

.w-color-swatch > div {
  @apply !size-5 !rounded-[2px] !mr-[10px] !mb-[10px]
}

/* .w-color-compact {
  @apply !w-[305px] !bg-background
}

.w-color-swatch {
  @apply mb-2
}

.w-color-swatch > div {
  @apply !size-5 !rounded-[2px]
}

.w-color-editable-input > span > div {
  @apply !size-5 !rounded-[2px]
}

.w-color-editable-input > input {
  --editable-input-color: var(--input);

  @apply !text-sm !bg-border rounded-sm !px-1.5;
}

.w-color-editable-input-rgba > .w-color-editable-input:first-child {
  @apply ml-4
}

.w-color-editable-input-rgba > .w-color-editable-input > input {
  @apply !w-9
}

.w-color-editable-input-rgba > .w-color-editable-input > span {
  @apply mr-1.5
} */
